td {
	vertical-align:middle !important;
}
.navbar-brand {
	padding:0;
}
.navbar-brand img {
	height:50px;
	width:inherit;
}
textarea{
	resize:none;
}
textarea.stealth {
	width: 100%;
	background: transparent;
	border: none;
}
textarea.editable {
	padding: 2px 5px;
}
.led {
	margin: 0 auto;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}
.led-red {
	background-color: #F00;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}
.led-green {
	background-color: #ABFF00;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}
.led-container {
	margin-top:5px;
	color:#989898;
    text-align: center;
	font-size:13px;
	line-height:17px;
}
.clear {
	clear:both;
}
@keyframes spinAnimation {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
.spin {
	animation: spinAnimation 3s infinite;
	animation-timing-function: linear;
}
.charCount {
	text-align:center;
}
.charCount.error {
	background-color:#FFBBBB;
}
.charCount.warn {
	background-color:#FFDABB;
}
td.onAir {
	background-color:green;
	color:white;
}
